@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

/* Shared template */
html, body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: 'Raleway', 'serif';
}

a {
    color: inherit;
    text-decoration: inherit;
}

.main-header {
    background-color: rgb(37, 65, 83);
    height: 3rem;
    width: 100%;
    display: flex;
}

.header-logo {
    flex: 1 1;
    width: 20%;
    text-align: left;
    font-family: 'Oswald', 'sans-serif';
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: auto auto .45rem .75rem;
    align-self: center;
}

.main-menu-container {
    flex: 3 3;
    width: 70%;
    text-align: right;
    align-self: bottom;
}

.main-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
    font-family: 'Raleway', 'serif';
    height: 100%;
}

.main-menu__item {
    position: relative;
    padding: .2rem;
    margin: 0 .5rem;
}

.main-menu__item--selected::after, .main-menu__item:hover::after {
    content: '';
    height: .25rem;
    width: 100%;
    background-color: #7898ac;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 15px 15px 0 0;
}

.button {
    display: inline-block;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 2rem;
    background-color: #7898ac;
    font-family: Oswald, sans-serif;
    padding: 0 .75rem;
    text-transform: uppercase;
}

.button--call-to-action {
    background-color: green;
}


/* Front page */
.preview {
    width: 100%;
    background-color: #7898ac;
}

.preview-wrapper {
    width: 95%;
    max-width: 80em;
    margin: 0 auto auto auto;
    padding: 3rem 2.5%;
    display: flex;
}

.preview-left {
    flex: 1 1;
    text-align: right;
    padding: 2rem;
}

.preview-left__image {
    width: 100%;
    height: auto;
}

.preview-right {
    flex: 1 1;
    text-align: left;
    font-size: 4.5rem;
    padding: 2rem;
    font-family: Oswald, sans-serif;
}

.fp-actions {
    display: flex;
    background-color: #7898ac;
    padding-bottom: 2rem;

}

.fp-left {
    flex: 1 1;
    text-align: right;
    padding: 2rem;
}

.fp-right {
    flex: 1 1;
    text-align: left;
    padding: 2rem;
}

.key-points {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 0 0; 
}

.key-point {
    flex: 3 1;
    padding: 1rem 4rem;
}

.key-point__header {
    font-family: Oswald, sans-serif;
    color: #7898ac;
    font-size: 1.5rem;
    text-transform: uppercase;
}