@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

html, body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.main-header {
    background-color: rgb(37, 65, 83);
    height: 3rem;
    width: 100%;
    display: flex;
}

.main-header__logo {
    flex: 1 1;
    width: 20%;
    text-align: left;
    font-family: 'Oswald', 'sans-serif';
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: auto auto .45rem .75rem;
    align-self: center;
}

.main-header__menu {
    flex: 3 3;
    width: 70%;
    text-align: right;
    align-self: bottom;
}

.main-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
    font-family: 'Raleway', 'serif';
    height: 100%;
}

.main-menu__item {
    position: relative;
    padding: .2rem;
    margin: 0 .5rem;
}

.main-menu__item--selected::after, .main-menu__item:hover::after {
    content: '';
    height: .25rem;
    width: 100%;
    background-color: rgb(120, 152, 172);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 15px 15px 0 0;
}

.showoff {

}

.showoff__logo {

}

.showoff__book {

}