.editor-toolbox {
    display: flex;
    background-color: #FFF;
    border: solid 1px #000;
    flex-wrap: wrap;
    margin: 1rem;
}

.editor-toolbox__element {
    flex: 1 1;
    padding: 1rem;
    align-content: center;
    text-align: center;
}

.editor-menu {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.editor-menu__button {
    margin-right: 1rem;
    background-color: darkcyan;
    border: solid 1px #FFF;
    padding: .5rem;
    color: white;
}

.editor-menu__hidden {
    display: none;
}

.editor-toolbox__icon {
}
