.editor-wrapper {
    height: 80vh;
}
.editor-paper {
    border: solid 1px #000;
    height: 80%;
    margin: 1rem;
    position: relative;
}

#paper-holder {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1px;
}
