.editor-paper {
    border: solid 1px #000;
    width: 95%;
    height: 80vh;
    margin: 1rem 2.5%;
    position: relative;
}


#paper-holder {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1px;
}

.editor-toolbox {
    border: solid 1px #000;
    width: 95%;
    height: auto;
    margin: 1rem 2.5%;
    position: relative;
}

#tool-paper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 1px;
}